header {
    border: 1px solid goldenrod;
}

header > ul {
    margin-right: 5%;
}

.disabled {
    color: grey;
}

a .disabled {
    color: purple;
}

a.disabled {
    color: purple;
}


.active {
    color: yellow;
}

.parent > div > div {
    color: red;
}

.parent > div > div + h4 {
    background-color: red;
}

.parent > div > div ~ div {
    color: blue; 
}

.parent > div > div ~ div + h4 {
    background-color: blue;
}

.promo {
    color: gold;
    font-weight: bold;
}

div.promo span {
    color: gold; 
}

input {
    height: 25px;
}